<!-- /**** Partner Header ****/ -->
<section class="partner-header mdui-valign mdui-center">
    <div class="mdui-container-fluid mdui-p-x-0 mdui-p-t-2">
        <h2 class="mdui-text-center mdui-text-color-white mdui-typo-subheading">工作原理</h2>
        <h1 class="mdui-text-center mdui-text-color-white mdui-typo-display-1">安全高速云数据传输</h1>
        <p class="mdui-text-center mdui-text-color-grey-100 mdui-typo-subheading mui-text-center header-info">集成全球 <%= theme.relay.global.partner %> 家运营商和云计算服务提供商的优质网络资源，使用业界顶级数据中心与定制中国优化链路，带宽总量高达 <%= theme.relay.global.alltraffic %>，为每位用户提供最高 <%= theme.relay.global.pertraffic %> 的中继带宽</p>
    </div>
</section>

<div class="mdui-m-t-3"></div>

<!-- /****** Infographic ******/ -->
<section>
    <picture>
        <source media="(min-width: 960px)" srcset="https://cdn.jsdelivr.net/gh/x-gslb/s@0x06/site/img/relay-info-large.png" style="min-width:90%;max-width:100%">
        <source media="(min-width: 480px)" srcset="https://cdn.jsdelivr.net/gh/x-gslb/s@0x06/site/img/relay-info.png" style="min-width:90%;max-width:100%">
        <img src="https://cdn.jsdelivr.net/gh/x-gslb/s@0x06/site/img/relay-info.png" style="min-width:90%;max-width:100%">
    </picture>
</section>

<!-- /****** Divider ******/ -->
<div class="mdui-divider mdui-m-t-3"></div>

<section class="mdui-container-fluid mdui-color-grey-50">
    <div class="mdui-row mdui-p-y-3">
        <div class="mdui-col-xs-10 mdui-col-offset-xs-1">
            <div class="mdui-row-md-3 mdui-row-xs-1">
                <div class="mdui-col mdui-p-y-2">
                    <h3 class="mdui-typo-headine">完备的 BGP 网络</h3>
                    <p class="mdui-typo-subheading-opacity">CloudHammer 流量中继服务集成全球 <%= theme.relay.global.partner %> 家 ISP 网络，配合足额的国际带宽与 CN2 链路，充分保障中继层与落地节点网络顺畅传输。</p>
                </div>
                <div class="mdui-col mdui-p-y-2">
                    <h3 class="mdui-typo-headine">高质量中继传输</h3>
                    <p class="mdui-typo-subheading-opacity">CloudHammer 采用业界顶级数据中心部署中继落地节点，节点均部署了优化后的 TCP 拥塞控制算法提升带宽利用率，降低延时和网络抖动。</p>
                </div>
                <div class="mdui-col mdui-p-y-2">
                    <h3 class="mdui-typo-headine">高可用性和功能化</h3>
                    <p class="mdui-typo-subheading-opacity">CloudHammer 每位用户的中继带宽及资源相互隔离，使用动态资源分配技术，可以承受诸多生产环境考验，打通多种用户亟需的网络环境加速和地域功能解锁功能。</p>
                </div>
            </div>
        </div>
    </div>
</section>
